.type-196 {
  width: 100%px;
}
.type-196 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.type-196 .swiper-button-next,
.type-196 .swiper-button-prev {
  position: absolute;
  -webkit-transition: all .3s ease;
  cursor: pointer;
  z-index: 10 !important;
  background-color: rgba(0,0,0,0.4);
  background: #333 none repeat scroll 0 0;
  text-align: center;
  padding-top: 8px;
  width: 30px;
  height: 30px;
}
.type-196 .swiper-button-prev:hover,
.type-196 .swiper-button-next:hover {
  background-color: rgba(0,0,0,0.7);
}
.type-196 .swiper-container:hover .arrow {
  display: block;
}
.type-196 .swiper-container .next,
.type-196 .swiper-container .prev {
  width: 50px;
  height: 40px;
  line-height: 30px;
  background: #333 none repeat scroll 0 0;
  text-align: center;
}
.type-196 .swiper-container .arrow {
  display: none;
}
.type-196 .swiper-container .next {
  top: 30px;
  right: 30px;
}
.type-196 .swiper-container .prev {
  top: 30px;
  left: 1000px;
}
.type-196 .swiper-container .arrow .next,
.type-196 .swiper-container .arrow .prev {
  opacity: 1;
}
.type-196 .swiper-container .arrow:hover {
  background: #6091ba;
}
.type-196 .swiper-container .next:hover,
.type-196 .swiper-container .prev:hover {
  opacity: 1;
  background: #6091ba;
}
.type-196 .swiper-container fa:hover {
  color: #000;
}
.type-196 .banner {
  background-color: #f5f5f5;
  text-align: center;
  overflow: hidden;
}
.type-196 .banner h3 {
  float: left;
}
.type-196 .banner .swiper-container {
  margin-bottom: 50px;
}
.type-196 .banner .swiper-slide {
  padding: -25px 0px;
  overflow: hidden;
}
.type-196 .banner .swiper-slide .block {
  transition: transform 0.9s ease;
  background-color: ;
}
.type-196 .banner .swiper-slide .block .discount-percent {
  position: absolute;
  background: #f14705;
  font-size: 14px;
  top: 10px;
  right: 0;
  padding: 2px 5px;
  color: #fff;
  z-index: 10;
}
.type-196 .banner .swiper-slide .block .image img {
  margin-top: 10px;
  width: 100%;
}
.type-196 .banner .swiper-slide .block:hover .product-btn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility .25s ease, opacity .25s ease, margin .25s ease;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .type-196 .swiper-container .prev {
    top: 30px;
    left: 450px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .type-196 .swiper-container .prev {
    top: 30px;
    left: 330px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .type-196 .swiper-container .prev {
    top: 30px;
    left: 580px;
  }
}
@media only screen and (min-width: 992px) {
  .type-196 .swiper-container .prev {
    top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .type-196 .swiper-container .prev {
    top: 30px;
  }
}
